.category-carousel {
  margin-bottom: 60px;
  .carousel-img-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .carousel-img {
      height: 100%;
    }
  }

  // From elemnt plus
  .demonstration {
    display: flex;
    flex-direction: column;
    color: var(--el-text-color-secondary);
    text-align: center;
  }

  .el-carousel__item h3 {
    color: #475669;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
    text-align: center;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}
